﻿@model WebAppCore_Noticias.Models.ViewModels.NoticiaViewModels


@{
    ViewData["Title"] = "Noticias";
}

<h2>@ViewData["Title"]</h2>

<h4>Editar</h4>
<hr />

<form asp-action="Edit" method="post" class="form-horizontal">

    <div class="form-group">
        <label asp-for="Titulo" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Titulo" class="form-control" placeholder="Informe o titulo" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Corpo" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Corpo" class="form-control" placeholder="Informe a descrição do corpo"></textarea>
            <span asp-validation-for="Corpo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="DataPublicacao" class="col-md-2 control-label"></label>
        <div class="col-md-2">
            <input asp-for="DataPublicacao" class="form-control" placeholder="dd/mm/yyyy" />
            <span asp-validation-for="DataPublicacao" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Autor" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Autor" class="form-control" placeholder="Informe o nome do autor" />
            <span asp-validation-for="Autor" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CategoriaId" class="col-md-2 control-label"></label>
        <div class="col-md-2">
            <select asp-for="CategoriaId" class="form-control" asp-items="@Model.ListaCategorias">
                <option value="" disabled selected>-- selecione --</option>
            </select>
            <span asp-validation-for="CategoriaId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Destaque" class="col-md-2 control-label"></label>
        <div class="col-md-2">
            <input asp-for="Destaque" />
            <span asp-validation-for="Destaque" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Voltar</a>
</div>


@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    CKEDITOR.replace('Corpo', { height: 260 })

    $('#DataPublicacao').datetimepicker({
        format: 'DD/MM/YYYY HH:mm',
        locale: 'pt-br'
    });

</script>

