﻿@model IEnumerable<WebAppCore_Noticias.Models.Noticia>

@{
    ViewData["Title"] = "Noticias";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create"> + Nova Noticia</a>
</p>

<div class="table-responsive">

    <table class="table table-hover">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Titulo)</th>
            <th>@Html.DisplayNameFor(model => model.DataPublicacao)</th>
            <th>Opções</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Titulo</td>
            <td>@item.DataPublicacao.Value.ToString("dd/MM/yyy HH:mm")</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
        }
    </table>

</div>