﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noticias - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/datetimepicker/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    

    <script type="text/javascript" src="/lib/datetimepicker/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/lib/datetimepicker/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>


    @*<script src="//cdn.ckeditor.com/4.8.0/full/ckeditor.js"></script>*@


</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Noticias</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Sobre</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contato</a></li>

                    @if (User.IsInRole("Menu"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administrativo<span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                @if (User.IsInRole("Categoria"))
                                {
                                    <li><a asp-area="" asp-controller="Categoria" asp-action="Index">Categoria</a></li>
                                }

                                @if (User.IsInRole("Noticia"))
                                {
                                    <li role="separator" class="divider"></li>
                                    <li><a asp-area="" asp-controller="Noticias" asp-action="Index">Noticias</a></li>
                                }

                                @if (User.IsInRole("Municipio"))
                                {
                                    <li role="separator" class="divider"></li>
                                    <li><a asp-area="" asp-controller="Municipios" asp-action="Index">Municipios</a></li>
                                }

                            </ul>
                        </li>
                    }

                </ul>

                @await Html.PartialAsync("_LoginPartial")

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Noticias</p>
        </footer>
    </div>
    
    @RenderSection("Scripts", required: false)

</body>
</html>
