﻿@model WebAppCore_Noticias.Models.ViewModels.HomeViewModels;

@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">


        @for (int i = 1; i <= Model.Banner.Count(); i++)
        {
            if (i == 1)
            {
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            }
            else
            {
                <li data-target="#myCarousel" data-slide-to="@i"></li>
            }
        }


    </ol>
    <div class="carousel-inner" role="listbox">


        @foreach (var item in Model.Banner)
        {
            if (item.Id == 1)
            {
                <div class="item active">

                    <a href="#">
                        <img src="~/images/@item.Id-banner.jpg " alt="Noticia" class="img-responsive" />
                        <div class="carousel-caption" role="option">
                            <p>@item.Titulo></p>
                        </div>
                    </a>

                </div>
            }
            else
            {
                <div class="item">

                    <a href="#">
                        <img src="~/images/@item.Id-banner.jpg " alt="Noticia" class="img-responsive" />
                        <div class="carousel-caption" role="option">
                            <p>@item.Titulo></p>
                        </div>
                    </a>

                </div>
            }

        }


    </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

<div class="row">
    <div class="col-md-9">
        <h2>Últimas Notícias</h2>

        @foreach (var item in Model.UltimasNoticias)
        {
            <article>
                <h3>@item.Titulo</h3>
                <p>Publicado em <b> @item.DataPublicacao.Value.ToString("dddd, dd 'de' MMMM 'de' yyyy 'ás ' HH:mm") </b>, por <b>@item.Autor</b></p>
                <p>@Html.Raw(item.Corpo) </p>
                <br>
            </article>
        }

    </div>
    <div class="col-md-3">
        <h2>Categorias</h2>
        <ul>

            @foreach (var item in Model.Categorias)
            {
                <li><a asp-controller="Home" asp-action="Index" asp-route-filtro="@item.Id" >@item.Descricao</a></li>
            }

        </ul>
    </div>
</div>
