﻿@model WebAppCore_Noticias.Models.ViewModels.CategoriaViewModel

@{
    ViewData["Title"] = "Categoria";
}

<h2>@ViewData["Title"]</h2>

<h4>Editar</h4>
<hr />

<form asp-action="Edit" class="form-horizontal">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Descricao" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Alterar" class="btn btn-primary" />
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

