﻿@model IEnumerable<WebAppCore_Noticias.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create"> + Nova Categoria</a>
</p>

<div class="table-responsive">

    <table class="table table-hover">
        <tr>
            <th>@Html.DisplayNameFor(model=> model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Descricao)</th>
            <th>Opções</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(model => item.Id)</td>
            <td>@Html.DisplayFor(model => item.Descricao)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> | 
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
        }
    </table>

</div>